@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-weight: 400;
}


#hero{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    position: relative;
    z-index: 1;
}


.last{
    width: 20%;
    height: 90%;
    background-color: #497d6e;
    position: absolute;
    right: 0;
    z-index: 5;
}

.first{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.first img{
    cursor: pointer;
}


.details{
    color: #c4bfbf;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-left: 50px;
}



.navbar{
    width: 80%;
    display: flex;
    gap: 300px;
    padding: 20px;
    z-index: 5;
}

.links ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
}

.links ul > li{
    cursor: pointer;
}



.logo p{
    font-style: bold;
    font-size: 22px;
}


.bigger{
    width: 100%;
    height: 80%;
    /* background-color: rgb(6, 157, 157); */
    z-index: 3;
    position: absolute;
    padding: 50px;
}



.direction{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
}


.dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(34, 33, 33, 0.927);
}

.dots{
    display: flex;
    gap: 70px;
    align-items: center;
}

.circle.active{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}



#details, #last, #big2-img {
    transition: all 400ms ease-in-out;
}

.image3{
    display: none;
}

.image4{
    display: none;
}

/* Responsive the navbar and hero section  */
@media only screen and (max-width:1270px){
    .navbar{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}


@media only screen and (max-width:1256px){
    .big2{
        left: 0;
    }
    .big1{
        position: absolute;
        bottom: 0;
    }
    #hero{
        height: 1200px;
        /* background-color: blue; */
    }
    #last{
        height: fit-content;
    }
}



@media only screen and (max-width:1120px){
    #last{
        width: 30%;
    }
}


@media only screen and (max-width:830px){
    #details{
        display: none;
    }
    #hero .last .image3{
        display: block;
    }
    #hero .last .image2{
        display: none;
    }
    #last{
        background-color: transparent;
    }
}


@media only screen and (max-width:716px){
    #big2-img{
        width: 400px;
        height: 400px;
    }
}



@media only screen and (max-width:640px){
    .links ul{
        flex-direction: column;
        gap: 30px;
    }
}


@media only screen and (max-width:670px){
    .big1{
        padding-left: 0;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 100px;
    }
    #big2-img{
        width: 350px;
        height: 350px;
        margin-left: 50px;
    }
    #hero{
        height: 1600px;
    }

}


@media only screen and (max-width:610px){
    .big1{
        padding: 20px;
    }
    #big2-img{
        margin-top: 40px;
    }
}


@media only screen and (max-width:430px){
    .big1{
        padding: 8px;
    }
}


@media only screen and (max-width:540px){
    .dots{
        gap: 20px;
    }
}


@media only screen and (max-width:400px){
    #big2-img{
        margin-left: 30px;
    }
}


/* Hero and navbar Section Close Here */




/* Catalog section start from here */
.catalog{
    width: 100%;
    height: 120px;
    background-color: #9c969662;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


/* Responsive the catalog  */


@media only screen and (max-width:1012px){
    .catalog{
        gap: 70px;
    }
}


@media only screen and (max-width:940px){
    .catalog{
        gap: 50px;
    }
}



@media only screen and (max-width:850px){
    .catalog{
        gap: 30px;
    }
}


@media only screen and (max-width:720px){
    .catalog{
        gap: 20px;
    }
}


@media only screen and (max-width:680px){
    .catalog{
        gap: 10px;
    }
}


@media only screen and (max-width:620px){
    .catalog{
        flex-direction: column;
        height: fit-content;
        padding: 10px;
        gap: 20px;
    }
}




/* About us section start from here */
#about{
    width: 100%;
    height: fit-content;
    /* background-color: #497d6e; */
    padding: 30px;
}


.bigone{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.bigdo{
    width: 100%;
    height: fit-content;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.divs{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: hsl(0, 0%, 93%);
    color: black;
    margin-top: 10px;
}


.awal{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.akhir{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.text{
    margin-top: 60px;
}


/* Responsive of the About us side here */

@media only screen and (max-width:1050px){
    .txt{
        text-align: center;
    }
    .text p{
        text-align: center;
    }
}



@media only screen and (max-width:830px){
    .bigone{
        flex-direction: column;
        gap: 6px;
    }
    .text{
        margin-top: 30px;
    }
    .bigdo{
        flex-direction: column;
        align-items: center;
    }
    .bigdo .divs{
        width: 100%;
    }
}



/* Product section starts from here */

#product{
    width: 100%;
    height: 100vh;
    background-color: #497d6e;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pic{
    width: 40%;
    height: 90%;
    border: 2px solid black;
    position: relative;
}

.creds{
    width: 40%;
    height: 90%;
    border: 2px solid black;
    overflow: hidden;
}

.pic img{
    position: absolute;
    z-index: 1;
}

.card{
    width: 170px;
    height: 200px;
    background-color: rgb(255, 241, 241);
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin: 60px;
    cursor: pointer;
    overflow: hidden;
}

.picture{
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to left, silver, white);
    background-image: linear-gradient(to bottom, silver, white);
}

.picture img{
    margin-left: 30px;
}

.upicture{
    width: 100%;
    height: 10%;
    overflow: hidden;
    text-align: center;
}

.upicture p{
    font-size: 14px;
}

.Flavours{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 4px;
    background: linear-gradient(to right, silver, rgb(59, 142, 91));
    -webkit-background-clip: text;
    color: transparent;
}

.foot{
    width: 100%;
    height: 30%;
    /* background-color: blue; */
    display: flex;
    gap: 50px;
    padding: 2px;
}
.pehla{
    width: 50%;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
    gap: 10px;
    align-items: center;
}
.dosra{
    width: 50%;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
    gap: 10px;
    align-items: center;
}
.golo{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #497d6e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar{
    font-size: 14px;
}

